## Teste Z de duas amostras

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
from statsmodels.stats import weightstats

In [5]:
df = pd.read_csv('Two_Machines.csv')

In [6]:
df

     Volume    Machine
0    154.27  Machine 1
1    150.03  Machine 1
2    151.14  Machine 1
3    145.47  Machine 1
4    149.71  Machine 1
..      ...        ...
195  152.05  Machine 2
196  151.41  Machine 2
197  153.76  Machine 2
198  150.75  Machine 2
199  147.80  Machine 2

[200 rows x 2 columns]

Vamos agora fazer o teste Z para as duas máquinas (Teste Z de duas amostras). \
Começamos filtrando os volumes da Máquina 1.

Como P Value < 0.5, falhamos em rejeitar a hipótese nula. Portanto, as máquinas estão produzindo com médias diferentes.

### Exercício 1

A biblioteca Seaborn tem vários "built-in" datasets.

Primeiro é necessário verificar se há no mínimo 30 amostras para que seja possível realizar o teste Z.

Podemos obter maiores informações sobre o nosso dataset usando a função describe e plotando um gráfico.

Vamos plotar um boxplot para observar como as gorjetas estão distribuídas entre homens e mulheres.

Para realizar nosso Teste Z, a primeira coisa a fazer é filtrar as gorjetas por sexo.

Como P Value > 0,05, falhamos em rejeitar a hipótese nula, portanto as gorjetas de homens e mulheres são iguais.

### Exercício 2: Lunch vs Dinner

Realize um teste de hipótese que verifica se as gorjetas dadas no almoço são iguais às gorjetas dadas no jantar.

Como P Value > 0,05, falhamos em rejeitar a hipótese nula, portanto as gorjetas do almoço tem a mesma média que as gorjetas do jantar.

## Teste t de duas amostras

Exemplo 1: Amostras envasadas por duas máquinas apresentam os seguintes volumes: \
Máquina A: 150, 152, 154, 152, 151 \
Máquina B: 156, 155, 158, 155, 154 \
A média é diferente? Calcular com 95% de confiança.

H0: μ1 = μ2 \
Ha: μ1 ≠ μ2

Como P Value < 0,05, rejeitamos a hipótese nula. Portanto máquinas estão envazando com médias diferentes.

Exemplo 2: Amostras envasadas por duas máquinas têm apresentam os seguintes volumes: \
Máquina A: 150, 152, 154, 152, 151 \
Máquina C: 144, 162, 177, 150, 140 \
A média é diferente? Calcular com 95% de confiança.

Como P Value > 0,05, falhamos em rejeitar a hipótese nula. Portanto, as máquinas estão produzindo com mesma média =>  μ(m1) = μ(m2).

## Exercício 3
Utilizando o dataset Titanic, realize um teste de hipótese que verifica se as médias das idades de homens e mulheres que sobreviveram à tragédia do Titanic são iguais. \
Importante: use df.dropna(subset = ['age'], inplace=True) para excluir os registros quem contém NaN na coluna 'age'.

Como pValue > 0.05, falhamos em rejeitar a hipótese nula. A média de idade dos homens e mulheres sobreviventes é a mesma.