## Exercícios

Questão 1 \
Utilizando o dataset 'tips' crie um gráfico de barras mostrando o faturamento total do restaurante por dia, exibindo o total gasto por homens e mulheres. \
Dica: use crosstab.

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
df = sns.load_dataset('tips')

In [12]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Questão 2 \
Elabre um gráfico de pizza que mostre a divisão do faturamento entre homens e mulheres.

Questão 3 \
Elabore um gráfico de dispersão que mostre a relação entre o número de pessoas por mesa e o valor total da conta.